* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 400ms;
  user-select: none;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(rgb(89, 89, 89), rgb(0, 0, 0));
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80vw;
}

.form-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  form {
    background-color: hsl(0, 0%, 0%, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    .els {
      height: 2rem;
      border: none;
      padding: 0.5rem;
      margin: 1rem;
      outline: none;
      border-radius: 0.25rem;
      color: white;
    }
    input {
      background-color: hsla(0, 0%, 0%, 0.25);
    }
    button {
      background-color: hsl(220, 75%, 65%);
      &:hover {
        background-color: hsl(220, 75%, 50%);
        border-radius: 0.5rem;
      }
      cursor: pointer;
    }
  }
  .saved-container {
    height: 100%;
    position: relative;
    display: flex;
    margin-left: 1rem;
    .saved-amount {
      width: fit-content;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 1rem;
      background-color: hsl(220, 75%, 65%);
      color: hsl(0, 0%, 100%);
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      right: -2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .card {
    width: 175px;
    height: 175px;
    position: relative;
    margin: 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px 0px hsla(0, 0%, 0%, 0.75);
    .hover-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: transparent;
      position: absolute;
      z-index: 10;
    }
    p {
      margin: auto;
      font-size: 2rem;
      opacity: 0;
      pointer-events: none;
    }
    .save {
      color: hsl(124, 100%, 80%);
    }
    .remove {
      color: hsl(5, 100%, 80%);
    }
    &:hover {
      transform: rotate(1.5deg) translateX(0.5rem);
      transform: scale(1.25);
      z-index: 10;
      .hover-text {
        background-color: rgba(0, 0, 0, 0.5);
      }
      p {
        opacity: 1;
      }
    }
    .saved-container {
      background-color: hsl(124, 100%, 80%);
      width: 60%;
      position: absolute;
      opacity: 0;
      right: 0;
      top: 1rem;
      border-radius: 1rem 0rem 0rem 1rem;
      transform: translateX(8rem);
      .saved {
        color: black;
      }
      &.show {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &.saved-tag {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
